# Please use dietpi-cron to change cron start times
SHELL=/bin/dash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=""

# m h dom mon dow user command
#*/0 * * * * root cd / && run-parts --report /etc/cron.minutely
#17 * * * * root cd / && run-parts --report /etc/cron.hourly
25 2 * * * root cd / && run-parts --report /etc/cron.daily
#25 2 * * * root test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.daily; }
#47 2 * * 7 root test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.weekly; }
#52 2 1 * * root test -x /usr/sbin/anacron || { cd / && run-parts --report /etc/cron.monthly; }
